body{
   background-color: black; 
   color: aqua;
   font-size: 21px;
}

p{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

.top-section{
    background-color: black;
}

.intro{
    font-size: 30px;
}

.highlight{
    background-color: rgb(171, 171, 101);
}

.bottom-section{
    background-color: rgb(171, 164, 164);
    color: black;
}

.accent-color{
    color: red;
}
 /*
 margin:emty spac around element
 border:a border/stroke/around the element
 padding:empty space with background around my element
 all of these add on top and widths and height
 */

.box{
    background:pink;
    width: 300px;

    margin-top: 50px;
    border-width: 5px;
    border-color: aqua;


}
