body{
background-color: black;
color: white;
}

header{
text-align: center;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 text-shadow: 15px 15px 27px white;
 color:white;
}

.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.one{
    flex:1;
    width: 10px;
    height: auto;
}
.two{
    flex:1;
    width: 10px;
    height: auto;
    
}
.three{
    flex:1;
    width: 10px;
    height: auto;
    
}
.four{
    flex:1;
    width: 10px;
    height: auto;
    
}
.five{
    flex:1;
    width: 10px;
    height: auto;
    
}
.six{
    flex:1;
    width: 10px;
    height: auto;
    
}

    